div div {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin: 1.66%;
  font-family: 'ABeeZee', sans-serif;
}

img {
  width: 60%;
}

button {
  background-color: #800020;
  border: 1px solid black;
  border-radius: 0.2em;
  width: 100px;
  height: 25px;
  color: white;
}

.erase {
  text-decoration: line-through;
}

@media screen and (max-width: 500px) {
  div div {
    width: 40%;
    margin: 5%;
  }
  img {
    width: 100%;
  }
}
